.input {
  text-align: center;
  width: 70%;
  padding: 10px 14px;

  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #8b5cf6;
}

.radio {
  accent-color: #8b5cf6;
  margin-right: 20px;
}