#dashboard {
  text-align: center;
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  align-items: center;
}

button {
  background-color: #ff7eb6;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ff5aa8;
}

.logout {
  margin-top: 40px;
  background-color: #aaa;
}