.ghost-container {
  position: relative;
}

.ghost {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  animation: flyAway 1s forwards;
}

@keyframes flyAway {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-50px) translateX(50px) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) translateX(100px) scale(0.2);
  }
}
