.app-header {
  color: white;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: space-between;
}

.app-header img {

  cursor: pointer;
}

.app-header button,
.app-header button * {
  margin: unset;
  padding: unset;
  line-height: unset;
}
