.app-header {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
}

.app-header img {
  cursor: pointer;
}

.app-header button {
  grid-column: 3;
  line-height: unset;
  height: fit-content;
  padding: 0.5rem;
}
