.newGameNavBar
{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.newGameNavBar button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
}
