#dashboard {
  text-align: center;
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  align-items: center;
}

button {
  background-color: #ff7eb6;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 10px;
}

button:hover {
 background-color: #ff4fa5;
  transform: translateY(-2px);
}

.logout {
  margin-top: 40px;
  background-color: #aaa;
}