#game {
  text-align: center;
}

#game h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#game .operation {
  font-size: 2rem;
  margin-bottom: 20px;
}

#game input {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  width: 100px;
}

#game button {
  margin-top: 20px;
}

.progress-bar {
  width: 80%;
  height: 20px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 0 auto 20px;
  position: relative;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #69bff8, #4a90e2);
  width: 50%; /* valor demo */
}

#game .exercise-counter {
  font-size: 0.8rem;
  text-align: left;
  width: 80%; 
  margin: 30px auto 5px;
}
